.lead {
  text-align: center;
}
.display-4 {
  text-align: center;
}
.table-creation {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
}
#persons-list {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
li {
  list-style-type: none;
}
